div[data-testid="stVerticalBlock"] div[style*="flex-direction: column;"] div[data-testid="stVerticalBlock"]{
    background-color: #262730;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 2rem;

}

